@import "tailwindcss";

body {
  /* background-color: black; */
  /* color: white; */
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}
*{
  height: auto;
}

h1{
  color: rgb(243, 243, 6)!important;
}
.dish-section a{
  color: yellow!important;
  font-size:20px;
  display:grid;
  align-content: center;
  justify-content:space-around;
}
.navbar .nav-link {
  color: white; /* Default color */
  transition: color 0.3s ease; 
}

.navbar .nav-link:hover {
  color: rgb(239, 243, 7); /* 👈 Hover pe color change */
}
.navbar .nav-link.active {
  color:  rgb(239, 243, 7)!important; /* active link hamesha red */
}

.carousel-img {
  height: 90vh;
  object-fit: cover;
}

 .menu-link{
  margin:  auto;
  justify-items: center;
  margin-top: 4rem;
  margin-bottom: 1rem; 
}
.bookingform{
  height:30rem;
  max-width:50rem;
  margin-top: 20rem !important ; 
}
/* .menu-cards .nav-link {
  transition: color 1.5s ease; 
  color: rgb(7, 7, 7);
} */

 .active-category {
  color: yellow !important;
  background-color: black !important;
  border-radius: 40px;
  font-weight: bold;
}

 .menu-cards .nav-link:hover{
  color: yellow;
 }

.toast-msg{
  background-color: red;
  color: black!important;
}

